/* Unlimited Slide */
/* Left*/
@-webkit-keyframes shrink-l{
    0%{ opacity: 1; left: 0; }
    100%{ opacity: 0; left: -50%; transform: scale(0)}
}
@-moz-keyframes shrink-l{
    0%{ opacity: 1; left: 0; }
    100%{ opacity: 0; left: -50%; transform: scale(0)}
}
@-ms-keyframes shrink-l{
    0%{ opacity: 1; left: 0; }
    100%{ opacity: 0; left: -50%; transform: scale(0)}
}
@-o-keyframes shrink-l{
    0%{ opacity: 1; left: 0; }
    100%{ opacity: 0; left: -50%; transform: scale(0)}
}
@keyframes shrink-l{
    0%{ opacity: 1; left: 0; }
    100%{ opacity: 0; left: -50%; transform: scale(0)}
}

@-webkit-keyframes shrink-r{
    0%{ opacity: 1; left: 0; }
    100%{ opacity: 0; left: 50%; transform: scale(0)}
}
@-moz-keyframes shrink-r{
    0%{ opacity: 1; left: 0; }
    100%{ opacity: 0; left: 50%; transform: scale(0)}
}
@-ms-keyframes shrink-r{
    0%{ opacity: 1; left: 0; }
    100%{ opacity: 0; left: 50%; transform: scale(0)}
}
@-o-keyframes shrink-r{
    0%{ opacity: 1; left: 0; }
    100%{ opacity: 0; left: 50%; transform: scale(0)}
}
@keyframes shrink-r{
    0%{ opacity: 1; left: 0; }
    100%{ opacity: 0; left: 50%; transform: scale(0)}
}

.slider-source.trans-l{
    -webkit-animation: shrink-r 1s;
    -moz-animation: shrink-r 1s;
    -ms-animation: shrink-r 1s;
    -o-animation: shrink-r 1s;
    animation: shrink-r 1s;
}
.slider-source.trans-r{
    -webkit-animation: shrink-l 1s;
    -moz-animation: shrink-l 1s;
    -ms-animation: shrink-l 1s;
    -o-animation: shrink-l 1s;
    animation: shrink-l 1s;
}
#slider {
    position: relative;
    overflow: hidden;
    font-family: arial;
    margin: 20px auto;
}
#slider h3,
#slider p{
    margin: 0 0 15px;
}
.slider-source img,
.skeleton img {
    width: 100%;
    opacity: 0;
    z-index: -1;
}
.slider-source,
.slider-mask {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    z-index: 2;
}
.slider-mask{
    z-index: 1;
}
#slider > a {
    position: absolute;
    top: 45%;
    top: calc(50% - 30px);
    left: 0;
    cursor: pointer;
    z-index: 3;
    width: 40px;
    height: 40px;
    line-height: 30px;
    color: #fff;
    font-size: 40px;
    text-align: center;
    padding: 10px;
    transition: all 0.4s;
    font-family: serif;
}
#slider > a.nav-r {
    right: 0;
    left: auto;
}
#slider:hover > a{
    background: rgba(0, 100, 150, 0.5);
    text-shadow: 0 0 7px #fff;
}
.slider-source div {
    position: absolute;
    bottom: -99%;
    width: 100%;
    width: calc(100% - 10px);
    min-height: 30px;
    background: rgba(0,0,0,0.5);
    padding: 20px 20px 0;
    opacity: 0;
    transition: all 2s;
}
.slider-source div.active{
    opacity: 1;
    bottom: 0;
}
.slider-source a{
    color: #fff;
    text-decoration: none;
    display: block;
}